@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.cards-container {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  cursor: pointer;
  flex: 1;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #e0e0e0;
  border-radius: 10px;
  background: #fff;
  margin: 1em;
  padding: 2em;
}

.card-css {
  border-left: 10px solid #ce93d8;
}

.card-question {
  text-decoration: none;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif !important;
  flex: 1;
  width: 100%;
  font-size: 1.2em;
}

.no-card-question {
  text-decoration: none;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif !important;
  flex: 1;
  width: 100%;
  font-size: 1.2em;
}

.a:link {
  text-decoration: none;
  color: black !important;
}

.card-question {
  color: black !important;
}
.card-question:visited {
  text-decoration: none;
  color: black !important;
}

.card-question:active {
  text-decoration: none;
  color: black !important;
}

.card-question:hover {
  text-decoration: none;
  color: black !important;
}
