@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rakkas');

.mainpage-title {
  font-family: 'Rakkas';
  font-size: 60px;
}
.mainpage-title-sub {
  font-family: 'Rakkas';
}

.first-container {
  font-family: 'Nanum Gothic', sans-serif;
}

.description {
  font-family: 'Nanum Gothic', sans-serif;
}
