@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.genrerecommend_container {
  font-family: 'Nanum Gothic', sans-serif;
}

.recom-info-text-con {
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
}
.recom-info-text {
  //   padding: 20px;

  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.reco-warning {
  font-size: 20px;
  padding-top: 35px;
}
