@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

$beige: #f7f7f5;
$theme-color: rgba(35, 90, 133, 0.95);
$dark-gray: #696969;
$medium-gray: #4b4f56;

$screen-xxs-max: 470px;
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);

// $font-var: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  @media (max-width: $screen-xs-max) {
    width: 50%;
  }
  @media (min-width: $screen-sm-min) {
    width: 25%;
  }
  @media (max-width: $screen-xxs-max) {
    width: 100%;
  }
}

.song-card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  white-space: normal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  &:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
    transform: translate(0, -5px);
    transition-delay: 0s !important;
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 15px;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    &::before {
      padding-top: 90%;
    }
  }
}

.card__image--1 {
  background-image: url(https://cdnimg.melon.co.kr/cm/album/images/020/40/666/2040666_500.jpg/melon/resize/282/quality/80/optimize);
}

.card__image--2 {
  background-image: url(https://cdnimg.melon.co.kr/cm/album/images/100/97/112/10097112_500.jpg?554ca74478719c6fa8690467ece04914/melon/resize/282/quality/80/optimize);
}

.card__image--3 {
  background-image: url(https://cdnimg.melon.co.kr/cm2/album/images/100/43/575/10043575_20210302112520_500.jpg?14e3da595ac1039c81615c20c729fc83/melon/resize/282/quality/80/optimize);
}

.card__image--4 {
  background-image: url(https://cdnimg.melon.co.kr/cm/album/images/003/55/128/355128_500.jpg/melon/resize/282/quality/80/optimize);
}

.card__image--5 {
  background-image: url(https://cdnimg.melon.co.kr/cm2/album/images/104/79/150/10479150_20200918102847_500.jpg?45d847d7dc536eecebd648786c2ea37c/melon/resize/282/quality/80/optimize);
}

.card__title {
  font-size: 1.2em;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  color: $dark-gray;
  text-transform: uppercase;
}

.card__text {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  flex: 1 1 auto;
  // margin-bottom: 1.25rem;
  color: $medium-gray;
  height: 3em;
}
